{% macro active(activePage='home') %}
<div id='header'>
  <div class="menu-area">
    <div class="logo-container">
      <img src="">
    </div>
    <nav class="menu-item">
      <h1>KAT DAHLIA</h1>
    </nav>
    <!-- <div class="icons">
      <a href="https://www.instagram.com/caferoval/"><img src="img/insta.png"></a>
      <a href="https://open.spotify.com/user/5sq2gjx3710tuife91kj0b8bz/playlist/0vH0Y143puCmD9p7ctP0n6?si=tPUnUSVqScaAw3nS5ZxDVw"><img src="img/spotify.png"></a>
      <a href="https://www.facebook.com/caferoval"><img src="img/facebook.png"></a>
    </div> -->
  </div>
</div>
{% endmacro %}
